{% comment %} Fill product rows if there is Featured image or product {% endcomment %}
{% assign lastProduct = productLimit %}

{% if featured == 'image' %}
  {% if productsColumns == 2 or productsColumns == 3 %}
    {% if forloop.index == lastProduct %}
      {% assign lastElementClass = 'visually-hidden' %}
    {% endif %}
  {% endif %}
{% elsif featured == 'products' %}
  {% if productsColumns == 3 %}
    {% if forloop.index == lastProduct %}
      {% assign lastElementClass = 'visually-hidden' %}
    {% endif %}
  {% endif %}
{% endif %}

{% if fallback %}
  <div class="collectionBlock js-collectionBlock block s1 sm_s12 {% unless template == 'collection' %}lg_s1{{ columnsSize }} {% else %}{{ collectionBlock--size }}{% endunless %} {{ lastElementClass }}">
    <div class="collectionBlock-image svg-placeholder">
      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
      {{ 'product-' | append: current | placeholder_svg_tag }}
      
      {%- if section.settings.hover_image == true -%}
        {% capture current_next %}{% cycle 5, 6, 1, 2, 3, 4 %}{% endcapture %}
        <span class="collectionBlock-hover collectionBlock-hover--placeholder">{{ 'product-' | append: current_next | placeholder_svg_tag: 'svg-placeholder' }}</span>
      {%- endif -%}

      {% if section.settings.showQuickView == true %}
        <div class="collectionBlock-image-inner">
          <div data-handle="{{ product.handle }}" class="quickView-button button">{{ 'collections.grid.quick_view' | t }}</div>
        </div>
      {% endif %}
    </div>
    <div class="collectionBlock-info">
      <h4>{{ 'onboarding.product_title' | t }}</h4>
      <p class="h4 {% if section.settings.price_hover %}price--hover{% endif %}"><span class="money">{{ '9900' | money}}</span></p>
    </div>
  </div>
{% else %}
  {% assign on_sale = false %}
  {% if product.compare_at_price > product.price %}
    {% assign on_sale = true %}
    {% assign on_sale_class = ' is-sale' %}
  {% endif %}

  {% assign sold_out = true %}
  {% if product.available %}
    {% assign sold_out = false %}
  {% endif %}

  <div class="collectionBlock js-collectionBlock block s1 sm_s12 {% unless template == 'collection' %}lg_s1{{ columnsSize }}  {% else %} {{ collectionBlock--size }} {% endunless %} {{ lastElementClass }}">
    {% comment%} N.B. Product here refers to the iterator, not necessarily a "product" {% endcomment %}
    {% if product.object_type == 'article' %}
      {% assign img_tag = '<' | append: 'img' %}
      {% if product.image %}
        {% assign src = product | img_url: 'grande' %}
      {% elsif product.content contains img_tag %}
        {% assign src = product.content | split: 'src="' %}
        {% assign src = src[1] | split: '"' | first | remove: 'https:' | remove: 'http:' %}
      {% endif %}
    {% elsif product.object_type == 'product' %}
      {% assign src = product.featured_image | img_url: 'grande' %}
    {% endif %}
    <a aria-label="{{product.title}}" href="{{ product.url | within: collection }}" title="{% if product.object_type == 'product' %}{{ product.featured_image.alt }}{%elsif product.object_type == 'article' %}{{product.title | escape}}{% endif%}" class="collectionBlock-image lazyload fade-in {% if product.images[1] != blank and section.settings.hover_image == true %}has-second-image{% endif %}"
      data-bgset="{% include 'bgset', image: product.featured_image %}"
      data-sizes="auto"
      data-parent-fit="cover"
      data-aspectratio="{{ product.featured_image.aspect_ratio }}">
      {%- if product.images[1] != blank and section.settings.hover_image == true -%}
        <span class="collectionBlock-hover lazyload fade-in" data-bgset="{% include 'bgset', image: product.images[1] %}" data-sizes="auto"></span>
      {%- endif -%}

      {% if product.object_type == 'product' %}
        {% if on_sale == true or sold_out == true %}
          <span class="product-status-flag{%if sold_out == true %} is-sold-out{%endif%}{{on_sale_class}}">
            {% if sold_out == true %}
              {{ 'products.labels.sold_out' | t }}
            {% else if on_sale == true %}
              {{ 'products.labels.on_sale' | t }}
            {% else if on_sale == true and sold_out == true %}
              {{ 'products.labels.sold_out' | t }}
            {% endif %}
          </span>
        {% endif %}
      {% endif %}
      
      {% if product.object_type == 'product' and section.settings.showQuickView == true %}
        <div class="collectionBlock-image-inner">
          <div data-handle="{{ product.handle }}" class="js-quickView quickView-button button">{{ 'collections.grid.quick_view' | t }}</div>
          <div class="quickview-product-images" data-handle="{{ product.handle }}" style="display: none">
            {% for image in product.images %}
              <div class="quickview-product-image lazyload fade-in" data-bgset="{% include 'bgset', image: image %}" data-sizes="auto" data-parent-fit="contain"></div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </a>
    <noscript>
          <a aria-label="{{product.title}}" href="{{ product.url | within: collection }}" title="{% if product.object_type == 'product' %}{{ product.featured_image.alt }}{%elsif product.object_type == 'article' %}{{product.title | escape}}{% endif%}" class="collectionBlock-image" style="background-image:url('{{ product.featured_image | img_url: '1024x' }}') !important;"
    >
      {%- if product.images[1] != blank and section.settings.hover_image == true -%}
        <span class="collectionBlock-hover lazyload fade-in" data-bgset="{% include 'bgset', image: product.images[1] %}" data-sizes="auto"></span>
      {%- endif -%}

      {% if product.object_type == 'product' %}
        {% if on_sale == true or sold_out == true %}
          <span class="product-status-flag{%if sold_out == true %} is-sold-out{%endif%}{{on_sale_class}}">
            {% if sold_out == true %}
              WAITLIST
            {% else if on_sale == true %}
              {{ 'products.labels.on_sale' | t }}
            {% else if on_sale == true and sold_out == true %}
              WAITLIST
            {% endif %}
          </span>
        {% endif %}
      {% endif %}
      
      {% if product.object_type == 'product' and section.settings.showQuickView == true %}
        <div class="collectionBlock-image-inner">
          <div data-handle="{{ product.handle }}" class="js-quickView quickView-button button">{{ 'collections.grid.quick_view' | t }}</div>
        </div>
      {% endif %}
    </a>
    </noscript>
    <div class="collectionBlock-info">
      <a tabindex="-1" href="{{ product.url | within: collection }}"><h4>{{ product.title }}</h4></a>
        <span class=" stamped-product-reviews-badge" data-product-sku="{{ product.handle }}" data-id="{{ product.id }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}"  style="display:block;"></span>
        
        

      {% if product.price_varies %}
        <p class="{% if section.settings.price_hover %}price--hover{% endif %}">{{ 'products.labels.price_from' | t }} {{ product.price_min | money }}</p>
      {% else %}
        {% if on_sale == true %}
          <p class= "price sale {% if section.settings.price_hover %}price--hover{% endif %}">
            <strike>{{ product.compare_at_price | money }}</strike>&nbsp;
            {{ product.price | money }}
          </p>
        {% else %}
          <p class="price {% if section.settings.price_hover %}price--hover{% endif %}">{{ product.price | money }}</p>
        {% endif %}
      {% endif %}

      <div class="swatches-fake">
        {% if product.variants.size > 1 and color_swatches == true %}
          {% include 'swatch' with 'Color' %}
        {% endif %}
      </div>
    </div>

    {% if show_reviews %}
      <div class="reviews-fake">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
    {% endif %}
    
    <script type="application/json" class = "product-json">
      {{ product | json }}
    </script>
    <!-- .js-quickView is appended to .js-collectionBlock here -->
  </div>
{% endif %}
