{%- assign columnsSize = columnsSize | default: 4 -%}
<div class="collectionBlock js-collectionBlock block s1 sm_s12 lg_s1{{ columnsSize }} {{collectionBlock--size}}">
  {% if collection.image %}
    <a href="{{ collection.url }}" class="collectionBlock-image lazyload fade-in" data-bgset="{% include 'bgset', image: collection.image %}" data-sizes="auto" data-parent-fit="cover">
      <div class="collectionBlock-image-inner"></div>
    </a>
      <noscript>
      <a aria-label="{{collection.title}}" href="{{ collection.url }}"
      class="collectionBlock-image" style="background-image:url('{{collection.image | img_url: '1024x' }}'); background-size: contain; background-position: center center; background-repeat: no-repeat;">
      </a>
      </noscript>
  {% else %}
    {% if collection.products_count > 0 %}
      {% assign collection_no_images = false %}
      {% for product in collection.products %}
        {% if product.featured_image %}
          {% assign collection_fallback_img = product.featured_image %}
          {% break %}
        {% else %}
          {% assign collection_no_images = true %}
        {% endif %}
      {% endfor %}
      {% if collection_no_images == false %}
        <a href="{{ collection.url }}" class="collectionBlock-image lazyload fade-in" data-bgset="{% include 'bgset', image: collection_fallback_img %}" data-sizes="auto" data-parent-fit="cover">
          <div class="collectionBlock-image-inner"></div>
        </a>
        <noscript>
        <a aria-label="{{collection.title}}" href="{{ collection.url }}"
        class="collectionBlock-image" style="background-image:url('{{collection_fallback_img | img_url: '1024x' }}'); background-size: contain; background-position: center center; background-repeat: no-repeat;"
        >
        </a>
        </noscript>
      {% else %}
        <a href="{{ collection.url }}" class="collectionBlock-image" data-bg-src="">
          <div class="collectionBlock-image-inner collection-error">
            <div class="no-products h4">{{ 'collections.grid.no_images' | t }}</div>
          </div>
        </a>
      {% endif %}
    {% else %}
      <a href="{{ collection.url }}" class="collectionBlock-image" data-bg-src="">
        <div class="collectionBlock-image-inner collection-error">
          <div class="no-products h4">{{ 'collections.grid.no_products' | t }}</div>
        </div>
      </a>
    {% endif %}
  {% endif %}
  <div class="collectionBlock-info">
    <a href="{{ collection.url }}"><h4 class="uppercase">{{ collection.title }}</h4></a>
    <span class=" stamped-product-reviews-badge" data-product-sku="{{ product.handle }}" data-id="{{ product.id }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}"  style="display:block;">{{ product.metafields.stamped.badge }}</span>
  </div>
  
</div>

