{% assign background = section.settings.color_icons_bg %}
{% assign color = section.settings.color_icons_text %}

{% if section.blocks.size > 0 %}
<div data-section-id="{{ section.id }}" data-section-type="icons-row">
  <div class="icons-row--background pad-sm" style="color: {{ color }}; background-color: {{ background }};">
    <div class="container">
      <div class="row row-lg">
        <div class="icons-row-wrapper">
          {% for block in section.blocks %}
            {% assign title = block.settings.title %}
            {% assign content = block.settings.content %}
            {% assign icon_words = block.settings.icon | split: ' ' %}
            {%- capture icon -%}{%- for word in icon_words -%}{%- unless forloop.index == 1 -%}-{%- endunless -%}{{ word | lowercase | capitalize }}{%- endfor -%}{%- endcapture -%}

            <div class="icons-row__item">
              {% if icon != blank %}
              <span class="icons-row__icon iconsmind-{{ icon }}"></span>
              {% endif %}
              
  {% if icon == blank %}
              <span class="icons-row__icon"><img src="{{ block.settings.icon_url }}" style="width:50px;height:50px;"></span>
  {% endif %}
    
              {% if title != blank %}
              <h3 class="icons-row__title">{{ title }}</h3>
              {% endif %}

              {% if content != blank %}
              <p class="icons-row__content" style="color:{{section.settings.color_icons_text1}}">{{ content }}</p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

