

<a href="/" title="Back to the Homepage">{{'collections.breadcrumbs.home' | t}}</a>

{% if template contains 'collection' %}

  <span class="breadcrumbs-sep">›</span> 
  {{ 'collections.breadcrumbs.collections' | t | link_to: '/collections'}}
  <span class="breadcrumbs-sep">›</span> 

  {% if collection.handle %}
    {% if collection.handle == 'all' %}
      {{ 'collections.breadcrumbs.default_collection' | t }}
    {% else %}
      {{ collection.title }}
    {% endif %}
  {% endif %}

{% endif %}

{% if template contains 'product' %}

  <span class="breadcrumbs-sep">›</span>
  {% assign first_collection = product.collections[0] %}
  {% if first_collection %}
    {{ first_collection.title | link_to: first_collection.url }}
    <span class="breadcrumbs-sep">›</span> 
  {% endif %}

  {% if collection %}
    {% if collection.handle and collection.handle != first_collection.handle %}
       {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
       {{ collection.title | link_to: url }}
       <span class="breadcrumbs-sep">›</span>
    {% endif %}
  {% endif %}

  {% if product.handle %}
       <span>{{ product.title }}</span>
  {% endif %}

{% endif %}
