<div class="container">
  <div class="row row-lg inline u-center">

    <div class="account-form block s1 med_s12">
      {% form 'reset_customer_password' %}

        <h1 class="block s1 u-center">{{ 'customer.reset_password.title' | t }}</h1>

        <p class="block s1 u-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

        <div class="block s1 u-center p c-accent">
          {{ form.errors | default_errors }}
        </div>

        <div class="inputGroup block s1">
          <label for="ResetPassword" class="h4 c-gray">{{ 'customer.reset_password.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}">
        </div>

        <div class="inputGroup block s1">
          <label for="PasswordConfirmation" class="h4 c-gray">{{ 'customer.reset_password.password_confirm' | t }}</label>
          <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}">
        </div>

        <div class="u-center">
          <input type="submit" class="account-form-submit button block" value="{{ 'customer.reset_password.submit' | t }}">
        </div>

      {% endform %}
    </div>

  </div>
</div>
