{% comment %} Settings {% endcomment %}
{% assign showTitle = section.settings.showTitle %}
{% assign showFilter = section.settings.showFilter %}
{% assign showSortFilter = section.settings.showSortFilter %}
{% assign showBanner = section.settings.showBanner %}
{% assign bannerSubheading = section.settings.banner_subheading %}
{% assign featured = section.settings.featured %}
{% assign showBread = section.settings.showBread %}
{% assign grid = 3 %}
{% assign productsRows = section.settings.products_rows | plus: 0 %}
{% assign productsColumns = section.settings.products_columns | plus: 0 %}
{% assign productLimit = productsColumns | times: productsRows %}
{% assign columnsSize = productsColumns | replace: '1', '' %}
{% assign color_swatches = section.settings.color_swatches %}
{% assign show_reviews = section.settings.show_reviews %}

{% comment %} Typography {% endcomment %}
{% assign heading_size = section.settings.heading_size %}
{% assign text_size = section.settings.text_size %}

<div data-section-id="{{ section.id }}" data-section-type="collection-template">
  {% comment %}
    Set collectionBlock size classes
    These are applied in the collectionGrid-block.liquid file
  {% endcomment %}
  {% assign collectionBlock--size = 'lg_s1' | append: columnsSize %}

  {% if featured == 'products' %}
    {% assign featuredClass = ' has-featured-products' %}
  {% endif %}
  
  {% capture pageTitle %}
    {% if showTitle or showDescription or collection.handle == 'all' %}
    <div class="page-title">
      <div class="container">
        {% if showTitle %}
          <div class="row row-lg">
            {% if bannerSubheading != blank %}
              <h4 class="page-title__subheading">{{ bannerSubheading }}</h4>
            {% endif %}
            <h1 class="page-title__heading size--{{ heading_size }}">{{collection.title}}
            {% for tag in collection.all_tags limit: productLimit %}
              {% if current_tags contains tag %}
              &#8250; {{ tag }}
              {% endif %}
            {% endfor %}
            </h1>
          </div>
        {% endif %}
        {% if collection.description != blank %}
          <div class="row row-lg">
            <div class="page-title__text rte h2 size--{{ text_size }}"><p>{{ collection.description }}</p></div>
          </div>
        {% endif %}
      </div>
    </div>
    {% endif %}
  {% endcapture %}

  {%- if showBanner and collection.image -%}

    {% comment %} Banner Settings {% endcomment %}
    {% assign bannerTextPosition = section.settings.banner_text_position %}
    {% assign bannerColorText = section.settings.banner_color_text %}
    {% assign bannerColorOverlay = section.settings.banner_color_overlay %}
    {% assign bannerOverlayOpacity = section.settings.banner_overlay_opacity | times: 0.01 | round: 2 %}

    <style>
      .banner .page-title { color: {{ bannerColorText }}; }
      .banner .page-title h1 { color: {{ bannerColorText }} !important; }
      .banner .page-title::before { background-color: {{ bannerColorOverlay }}; opacity: {{ bannerOverlayOpacity }}; }
      .main-logo__text a { color:{{ bannerColorText }}; }
      
      .site-header.is-standard,
      .site-header.is-standard .main-logo a,
      #cartTotal .cartToggle-items { color: {{ bannerColorText }}; }
      #cartTotal path,
      .nav-account-link svg path, .searchToggle path { fill: {{ bannerColorText }}; }
    </style>

    <section class="banner banner--collections">
      <div class="banner-inner banner-padded banner-padded--{{ section.settings.bannerHeight }} banner--text-{{ bannerTextPosition }}">
        {% unless section.settings.bannerHeight == 'original-height' %}
          <div class="banner-img lazyload" data-bgset="{% include 'bgset', image: collection.image %}" data-sizes="auto" data-parent-fit="cover"></div>
          <noscript>
            <div class="banner-img" style="background-image:url('{{collection.image | img_url: '1024x' }}'); background-size: cover; background-position: center center; background-repeat: no-repeat;"></div>
          </noscript>
        {% else %}
          {% assign image = collection.image %}
          {% assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' %}
          {% include 'theme-rias' %}
          <img class="banner-img--original lazyload fade-in"
               data-src="{{ image_url_pattern }}" 
               data-widths="[{{ image_widths }}]"
               data-aspectratio="{{ image.aspect_ratio }}"
               data-sizes="auto"
               alt="{{ collection.title }}">
          <noscript>
            <img src="{{ image | img_url: '2048x' }}" alt="{{ image.alt | escape }}" class="banner-img--original no-js-image">
          </noscript>
        {% endunless %}

        {{ pageTitle }}
      </div>  
    </section>
    {%- else -%}
      {{ pageTitle }}
    {%- endif -%}

    <section class="collectionGrid container-wrap" data-show-quickview="{{ section.settings.showQuickView }}">
      <div class="container">
        <div class="collectionGrid-nav collectionGrid-row row inline row-lg">
          <div class="breadcrumbs block">
            {% if settings.show_breadcrumbs %}
              {% include 'site-breadcrumbs' %}
            {% endif %}
          </div>

          <div class="grid-filter block">
            {% if showFilter == true %}
              <div class="tag-filter block">
                <label for="#tagFilter">{{ 'collections.tag_filtering.filter_label' | t }}</label>
                <span class="selectArrow"></span>
                <select class="tagFilter filter" id="tagFilter">
                  <option value="/collections/{{ collection.handle }}">{{ 'collections.tag_filtering.default_filter' | t }}</option>
                  {% for tag in collection.all_tags %}
                    {% if current_tags contains tag %}
                      <option value="/collections/{{ collection.handle }}/{{ tag | handle }}" selected>{{ tag }}</option>
                    {% else %}
                      <option value="/collections/{{ collection.handle }}/{{ tag | handle }}">{{ tag }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            {% endif %}
            {% if showSortFilter == true %}
            <div class="collectionGrid-filter block">
              <label for="#collectionFilter">{{ 'collections.sorting_dropdown.label' | t }}</label>
              <span class="selectArrow"></span>
              {% assign sort_by = collection.sort_by %}
              <select class="filter" id="collectionFilter">
                <option value="">{{ 'collections.sorting_dropdown.all' | t }}</option>
                <option value="best-selling" {% if sort_by == "best-selling" %}selected{% endif %}>{{ 'collections.sorting_dropdown.best_selling' | t }}</option>
                <option value="price-ascending" {% if sort_by == "price-ascending" %}selected{% endif %}>{{ 'collections.sorting_dropdown.price_ascending' | t }}</option>
                <option value="price-descending" {% if sort_by == "price-descending" %}selected{% endif %}>{{ 'collections.sorting_dropdown.price_descending' | t }}</option>
                <option value="title-ascending" {% if sort_by == "title-ascending" %}selected{% endif %}>{{ 'collections.sorting_dropdown.title_ascending' | t }}</option>
                <option value="title-descending" {% if sort_by == "title-descending" %}selected{% endif %}>{{ 'collections.sorting_dropdown.title_descending' | t }}</option>
                <option value="created-ascending" {% if sort_by == "created-ascending" %}selected{% endif %}>{{ 'collections.sorting_dropdown.created_ascending' | t }}</option>
                <option value="created-descending" {% if sort_by == "created-descending" %}selected{% endif %}>{{ 'collections.sorting_dropdown.created_descending' | t }}</option>
              </select>
            </div>
            {% endif %}
          </div>
          <span class="ie8-after"></span>
        </div>
        <div class="collectionGrid-load load-more-icon"></div>

        {% if collection.all_products_count == 0 %}
          <div class="collection-no-products row row-lg inline u-center empty-collection">
            <h4>{{ 'collections.errors.no_products' | t }}</h4>
            <a class="button" href="/collections/all">{{ 'collections.errors.continue_shopping' | t }}</a>
          </div>
        {% endif %}
        
        {% paginate collection.products by productLimit %}
        <div id="MainContent">
          <div class="js-collectionGrid collectionGrid-row row inline row-lg {{ featuredClass }} EndlessClick" data-show_reviews="{{ show_reviews }}" data-show_quantity="{{ section.settings.show_quantity }}" data-color_swatches="{{ color_swatches }}">
              {%- if featured == 'image' and columnsSize != '5' and paginate.current_page == 1 -%}
                {% comment %} Featured Content Settings {% endcomment %}
                {% assign featuredImage = section.settings.featured_image %}
                {% assign featuredHeading = section.settings.featured_heading %}
                {% assign featuredText = section.settings.featured_text %}
                {% assign featuredButtonText = section.settings.featured_button_text %}
                {% assign featuredButtonLink = section.settings.featured_button_link %}
                {% assign featuredColorText = section.settings.featured_color_text %}
                {% assign featuredColorOverlay = section.settings.featured_color_overlay %}
                {% assign featuredOverlayOpacity = section.settings.featured_overlay_opacity | times: 0.01 | round: 2 %}

                <style>
                  .featured__content { color: {{ featuredColorText }}; }
                  .featured__content h1 { color: {{ featuredColorText }} !important; }
                  .featured__image::after { background-color: {{ featuredColorOverlay }}; opacity: {{ featuredOverlayOpacity }}; }
                </style>
              
                <div class="collectionBlock js-collectionBlock s1 featured-block {% if columnsSize == '4' %}lg_s12 featured-block--large{% else %} {{ collectionBlock--size }} featured-block--default{% endif %}">
                  <div class="featured-block-wrapper">
                    {%- unless featuredImage == blank -%}
                      <div class="featured__image lazyload" 
                        data-bgset="{% include 'bgset', image: featuredImage %}"
                        data-sizes="auto"
                        data-parent-fit="cover"
                        data-aspectratio="{{ featuredImage.aspect_ratio }}"></div>
                      <noscript>
                        <div class="featured__image no-js-image" style="background-image: url({{ section.settings.featured_image | img_url: '1024x' }});"></div>
                      </noscript>
                    {%- else -%}
                      <div class="featured__image svg-placeholder">
                        {{ 'image' | placeholder_svg_tag }}
                      </div>
                    {%- endunless -%}

                    {%- if featuredHeading != blank or featuredText != blank or featuredButtonText != blank -%}
                    <div class="featured__content">
                      {%- if featuredHeading -%}
                        <h1>{{ featuredHeading }}</h1>
                      {%- endif -%}

                      {%- if featuredText -%}
                        {{ featuredText }}
                      {%- endif -%}

                      {%- if featuredButtonText != blank -%}
                        {%- if featuredButtonLink == blank -%}
                          {%- assign featuredButtonLink = "#!" -%}
                        {%- endif -%}
                        <a href="{{ featuredButtonLink }}" title="{{ featuredButtonText }}" class="button">{{ featuredButtonText }}</a>
                      {%- endif -%}

                    </div>
                    {%- endif -%}
                  </div>
                </div>
              {%- endif -%}
              
              {% for product in collection.products %}
                {% include 'collectionGrid-block' %}
              {% endfor %}

              {% for i in (1..3) %}
                <div class="gridSpacer item block s1 sm_s12 {% unless template == 'collection' %}lg_s1{{ columnsSize }} {% else %}{{ collectionBlock--size }}{% endunless %}"></div>
              {% endfor %}

              {% if paginate.next %}
                <div class="pagination u-center">
                  <a href="{{ paginate.next.url }}" class="loadMore button">{{ 'collections.pagination.load_more' | t }}</a>
                  <div class="load-more-icon"></div>
                </div>
              {% endif %}
              
            </div>
          </div>

        {% endpaginate %}
    </section>
  </div>
</div>

{% schema %}
   {
  "name": "Collection pages",
  "settings": [
    {
      "type": "header",
      "content": "Collection settings"
    },
    {
      "type": "checkbox",
      "id": "showTitle",
      "label": "Show title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "showFilter",
      "label": "Show Browse By tag filter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "showSortFilter",
      "label": "Show Sort By filter",
      "default": true
    },
    {
      "type": "header",
      "content": "Banner image"
    },
    {
      "type": "checkbox",
      "id": "showBanner",
      "label": "Show collection image as a banner",
      "default": true
    },
    {
      "type": "select",
      "id": "bannerHeight",
      "label": "Banner height",
      "options": [
          {
            "value": "one-hundred",
            "label": "Full screen height"
          },
          {
            "value": "original-height",
            "label": "Image height"
          },
          {
            "value": "big",
            "label": "750px"
          },
          {
            "value": "normal",
            "label": "650px"
          },
          {
            "value": "small",
            "label": "550px"
          }
        ],
        "default": "normal"
    },
    {
      "type": "text",
      "id": "banner_subheading",
      "label": "Subheading"
    },
    {
      "type": "select",
      "id": "banner_text_position",
      "label": "Text position",
      "default": "center",
      "options": [
        { "label": "Left", "value": "left" },
        { "label": "Center", "value": "center" },
        { "label": "Right", "value": "right" },
        { "label": "Bottom left", "value": "bottom-left" },
        { "label": "Bottom right", "value": "bottom-right" }
      ]
    },
    {
      "type": "header",
      "content": "Typography"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "default": "normal",
      "options": [
        { "label": "Small", "value": "small" },
        { "label": "Normal", "value": "normal" },
        { "label": "Large", "value": "large" },
        { "label": "Extra large", "value": "xlarge" }
      ]
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Text size",
      "default": "normal",
      "options": [
        { "label": "Small", "value": "small" },
        { "label": "Normal", "value": "normal" },
        { "label": "Large", "value": "large" },
        { "label": "Extra large", "value": "xlarge" }
      ]
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "banner_color_text",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "banner_color_overlay",
      "label": "Overlay",
      "default": "#222222"
    },
    {
      "type": "range",
      "id": "banner_overlay_opacity",
      "label": "Overlay opacity",
      "step": 1,
      "max": 100,
      "min": 0,
      "unit": "%",
      "default": 10
    },
    {
      "type": "header",
      "content": "Product settings"
    },
    { 
      "type": "checkbox",
      "id": "color_swatches",
      "label": "Enable color swatches",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "hover_image",
      "label": "Show second product image on hover",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "price_hover",
      "label": "Show price on hover",
      "info": "Desktop only",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "showQuickView",
      "label": "Show Quick View button",
      "info": "Desktop only",
      "default": true
    },
    { 
      "type": "checkbox",
      "id": "show_quantity",
      "label": "Show quantity ticker",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_reviews",
      "label": "Enable reviews",
      "info": "You need to install Shopify's free [Product Reviews app](https://apps.shopify.com/product-reviews) before enabling this option.",
      "default": true
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "products_rows",
      "label": "Products rows",
      "default":4,
      "min":1,
      "max":4,
      "step":1
    },
    {
      "type": "range",
      "id": "products_columns",
      "label": "Products per row",
      "default":4,
      "min":1,
      "max":5,
      "step":1
    },
    {
      "type": "select",
      "id": "featured",
      "label": "Featured content",
      "default": "none",
      "info": "Showcase an image inside your product grid or the first two products in a collection.",
      "options": [
        { "label": "None", "value": "none" },
        { "label": "Image", "value": "image" },
        { "label": "First two products", "value": "products" }
      ]
    },
    {
      "type": "header",
      "content": "Image",
      "info": "The below settings apply only if you select Image for Featured content above."
    },
    {
      "type": "image_picker",
      "id": "featured_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "featured_heading",
      "label": "Heading",
      "default":"Use this image showcase promotional content."
    },
    {
      "type": "richtext",
      "id": "featured_text",
      "label": "Text",
      "default":"<p>Elaborate on it with rich text<p>"
    },
    {
      "type": "text",
      "id": "featured_button_text",
      "label": "Button label",
      "default":"Learn More"
    },
    {
      "type": "url",
      "id": "featured_button_link",
      "label": "Button link"
    },
    {
      "type": "color",
      "id": "featured_color_text",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "featured_color_overlay",
      "label": "Overlay",
      "default": "#222222"
    },
    {
      "type": "range",
      "id": "featured_overlay_opacity",
      "label": "Overlay opacity",
      "step": 1,
      "max": 100,
      "min": 0,
      "unit": "%",
      "default": 10
    }
  ]
}
{% endschema %}
