{% comment %} Settings {% endcomment %}
{% assign blogArticlesDefault = blogs[section.settings.blogName].articles %}
{% assign blogArticles = blogs[section.settings.blogName].articles %}
{% assign blogLink = blogs[section.settings.blogName].url %}

{% assign title = section.settings.heading %}
{% assign cta = section.settings.cta %}

{% assign articleRows = section.settings.article_rows | plus: 0 %}
{% assign articleColumns = section.settings.article_columns | plus: 0 %}
{% assign articlesCount = articleColumns | times: articleRows %}
{% assign columnsSize = articleColumns | replace: '1', '' %}

{% comment %} Settings {% endcomment %}
{% assign showNavDots = false %}
{% assign showNavArrows = true %}
{% assign mode = false %}
{% assign autoplay = false %}
{% assign duration = 4000 %}
{% assign hover = true %}
{% assign speed = 200 %}

{% comment %} Section {% endcomment %}
<section data-section-type="featured-blog" class="blogModule container-wrap style-default" id="blog-module-{{ section.id }}">
	<div class="carousel pad-sm">
		<div class="row row-sm carousel-title">
			{% if title != blank %}
				<h1>{{ title }}</h1>
			{% endif %}
			{% if section.settings.text != blank %}
				<p>{{section.settings.text}}</p>
			{% endif %}
			{% if cta != blank %}
				<a href="{{ blogLink }}" class="button">{{ cta }}</a>
			{% endif %}
		</div>

		<div class="blogModule-posts med_hide row row-lg">
			{% if section.settings.blogName == blank %}
				{% for i in (1..articlesCount) %}
					<a href="#!" title="Article title" aria-label = "{{ article.title }}" class="blogModule-posts-post block s1 med_s12 lg_s1{{ columnsSize }} onboarding-blog-content">
						<div class="carousel-slide-image svg-placeholder">
							{{ 'image' | placeholder_svg_tag }}
						</div>
						<div class="carousel-slide-info">
							<p class="post-date">Feb. 15, {{ 'now' | date: '%Y' }}</p>
							<p class = "h3">Blog post title</p>
							
							<p class="excerpt">Once you create a blog post, the content will appear here.</p>

							{%- if section.settings.tags -%}
								<p class="post-tags">tag, tag</p>
							{%- endif -%}

							{%- if section.settings.author -%}
								<p class="post-author">Author Name</p>
							{%- endif -%}
						</div>
					</a>
				{% endfor %}
			{% else %}
				{% for article in blogArticles limit: articlesCount %}
					{% include 'blog-post' %}
				{% endfor %}
			{% endif %}
		</div>
		<div class = "blogModule-slider" data-slick="{ 'arrows':{{ showNavArrows }}, 'dots':{{ showNavDots }}, 'autoplay':{{ autoplay }}, 'dotsClass':'slick-dots hero-dots-row row-lg row', 'autoplaySpeed':{{ duration }}, 'speed':{{ speed }}, 'pauseOnHover':{{ hover }}, 'fade':{{ mode }}, 'adaptiveHeight': true }">
		 	{% if section.settings.blogName == blank %}
				{% for i in (1..articlesCount) %}
					<a href="/" title="Article title" aria-label = "{{ article.title }}" class="blogModule-posts-post block s1 med_s12 lg_s1{{ columnsSize }}">
						<div class="carousel-slide-image has-image fake-blog--image">
							{{ 'image' | placeholder_svg_tag }}
						</div>
						<div class="carousel-slide-info">
							<p class="post-date">Feb. 15, {{ 'now' | date: '%Y' }}</p>
							<p class = "h3">Blog post title</p>
						
							<p class="excerpt">Once you create a blog post, the content will appear here.</p>

						{%- if section.settings.tags -%}
							<p class="post-tags">tag, tag</p>
						{%- endif -%}

						{%- if section.settings.author -%}
							<p class="post-author">Author Name</p>
						{%- endif -%}
						</div>
					</a>
				{% endfor %}
			{% else %}
				{% for article in blogArticles limit: articlesCount %}
					{% include 'blog-post' %}
				{% endfor %}
			{% endif %}
		</div>

	</div>
</section>

{% comment %} Schema {% endcomment %}
{% schema %}
	{
		"name": "Blog posts",
		"settings": [ {
			"type": "header",
			"content": "Content"
		},  {
			"type": "blog",
			"id": "blogName",
			"label": "Blog"
		},
		{
			"type": "text",
			"id": "heading",
			"label": "Heading"
		},
		{
			"type": "text",
			"id": "text",
			"label": "Text"
		}, {
			"type": "text",
			"id": "cta",
			"label": "Button label",
			"info":"Links to blog"
		},
		{
			"type": "header",
			"content": "Settings"
		},
		{
			"type": "checkbox",
			"id": "tags",
			"label": "Show tags",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "author",
			"label": "Show author",
			"default": true
		},
		{
			"type": "range",
			"id": "article_rows",
			"label": "Posts rows",
			"default":1,
			"min":1,
			"max":4,
			"step":1
		},
		{
			"type": "range",
			"id": "article_columns",
			"label": "Posts per row",
			"default":4,
			"min":1,
			"max":5,
			"step":1
		} ],
		"presets": [ {
			"category": "Blog",
			"name": "Blog posts",
			"settings": {
		    	"blogName": "news",
		    	"heading": "News"
		    }
		} ]
	}
{% endschema %}
