<section class="container-wrap" data-section-type="footer" data-section-id="{{ section.id }}">
  <footer class="site-footer">
    <div class="container">

      {% comment %} Footer top - logo, menus, social icons {% endcomment %}
      <div class="footer-inner row row-lg inline u-center">
        {%- if section.blocks.size > 0 -%}
          <div class="block s1">
            <div class="footer-blocks">

              {%- for block in section.blocks -%}
                {%- capture column -%}{%- cycle 'footer--left', 'footer--center', 'footer--right' -%}{%- endcapture -%}
                {%- assign mobile_hide_block = block.settings.mobile_hide_block -%}

                

                  {%- if block.type=="menu" -%}
                    <div class="footer-menus block  {{ column }} {% if mobile_hide_block %}med_hide{% endif %}" {{ block.shopify_attributes }}>
                      {%- if block.settings.menu_primary != blank -%}
                      <div class="footer__menu" >
                        <ul>
                          {%- assign menu_primary = block.settings.menu_primary -%}
                          {%- for link in linklists[menu_primary].links -%}
                            <li class="footer-link">
                              <a href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                      {%- endif -%}
                      
                     <div class="footer__logo block  {{ column }} {% if mobile_hide_block %}med_hide{% endif %}" {{ block.shopify_attributes }}>
                    {%- if block.settings.logo -%}
                      <a href="/">
                        {%- assign image = block.settings.logo -%}
                        {%- assign image_widths = '90, 180, 240' -%}
                        {% include 'theme-rias' %}
                        <img 
                           class="lazyload fade-in"
                           src="{{ block.settings.logo | img_url: 'master' }}"
                           data-src="{{ image_url_pattern }}"
                           data-widths= "[{{ image_widths }}]"
                           data-aspectratio="{{image.aspect_ratio }}"
                           data-sizes="auto"
                           alt="{{ shop.name }}"
                           width="100%">
                        <noscript>
                          <img width="{{ block.settings.logo_width }}" src="{{ block.settings.logo | img_url: 'master' }}" title="{{ shop.name }}">
                        </noscript>
                      </a>
                       {%- assign footer_text = section.settings.text -%}
                        {%- if footer_text != blank -%}
           
              <div class="footer__textx">
                {{ footer_text }}
              </div>
            
          {%- endif -%}
                    {%- else -%}
                      <div class="placeholder-wrapper--footer" style="width: {{ section.settings.logo_width | append: 'px' }};">
                      {{ 'image' | placeholder_svg_tag }}
                      </div>
                    {%- endif -%}
                  </div>
                      
               

                      {%- if block.settings.menu_secondary != blank -%}
                      <div class="footer__menu" >
                        <ul>
                          {%- assign menu_secondary = block.settings.menu_secondary -%}
                          {%- for link in linklists[menu_secondary].links -%}
                            <li class="footer-link">
                              <a href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                      {%- endif -%}
                    </div>

                 
                {%- endif -%}
              
               
              
              
              
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}
        
      </div>
    </div>

    {% comment %} Footer bottom - Text, copyright, payment icons {% endcomment %}
    
    <div class="footer-bottom">
      <div class="container">
       
         

         
            <div class="footer__copyright u-center">
              <p>Copyright © 2019 Tower 28 Beauty, Inc. All rights reserved.</p>
              {% comment %}<p>{{ 'general.footer.copyright_html' | t  }}.</p>{% endcomment %}
            </div>

            {%- if section.settings.show_payment_icons -%}
              <div class="footer__payment">
                {% include 'payment-icons' %}
              </div>
            {%- endif -%}
          </div>
          
          {% if settings.show_multiple_currencies %}
            <div class="block s1 lg_s14 footer__currency">
              {% include 'currency-picker' %}
            </div>
          {% endif %}

     

    </div>
  </footer>
</section>

{% schema %}
{
  "name": "Footer",
  "max_blocks": 3,
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default":"<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut.</p>"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "limit": 1,
      "settings": [
        
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Primary menu"
        },
        {
          "type": "link_list",
          "id": "menu_primary",
          "default":"main-menu",
          "label": "Choose Menu",
          "info": "This menu won't show dropdown items"
        },
        {
          "type": "header",
          "content": "Secondary menu"
        },
        {
          "type": "link_list",
          "id": "menu_secondary",
          "label": "Choose Menu",
          "info": "This menu won't show dropdown items"
        },
       
{
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "range",
          "id": "logo_width",
          "min": 60,
          "max": 180,
          "step": 10,
          "unit": "px",
          "label": "Logo width",
          "default": 150
        },
        {
          "type": "checkbox",
          "id": "mobile_hide_block",
          "label": "Hide block on mobile",
          "default": false
        }
      ]
    },
    {
      "type": "social",
      "name": "Social icons",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Social media",
          "info":"Edit your social settings and accounts in General settings"
        },
        {
          "type": "checkbox",
          "id": "mobile_hide_block",
          "label": "Hide block on mobile",
          "default": false
        }
      ]
    }
  ]
}
{% endschema %}
