{% comment %} Settings {% endcomment %}
{% assign showNavDots = section.settings.showNavDots %}
{% assign showNavArrows = section.settings.showNavArrows %}
{% assign mode = section.settings.mode %}
{% assign autoplay = section.settings.autoplay %}
{% assign duration = section.settings.duration | times:1000 %}
{% assign hover = true %}
{% assign speed = 400 %}

{%- assign imagePosition = section.settings.slide_image_position | default: 'left' -%}
{%- assign imageWidth = section.settings.slide_image_width | split: '|' | first | default: 'med_s35' -%}
{%- assign contentWidth = section.settings.slide_image_width | split: '|' | last | default: 'med_s25' -%}

{% comment %} Check if Image Height setting is selected {% endcomment %}
{% assign image_height = false %}
{% if section.settings.slide_height == 'original-height' %}
{% assign image_height = true %}
{% endif %}

{% assign custom = section.settings.custom %}
{% assign customTitle = section.settings.title %}
{% assign customSubheading = section.settings.subheading %}
{% assign customContent = section.settings.content | truncatewords: 70 %}
{% assign customCTA = section.settings.cta %}
{% assign customLink = section.settings.link %}

<style>
.gallery-wrap.style-nav-text .slick-next:after, .gallery-wrap.style-nav-text .slick-prev:after {
		color:{{section.settings.color_style}};
}
.gallery-wrap.style-nav-text .slick-dots li.slick-active {background-color: {{section.settings.color_style}};}
.gallery-wrap.style-nav-text .slick-dots li {border-color: {{section.settings.color_style}};}
</style>

{% comment %} Section {% endcomment %}
<section class="gallery-wrap container-wrap style-default style-nav-text" id="gallery-module-{{ section.id }}" data-section-type="gallery">
		<div class="gallery {% if section.settings.show_margins %}gallery--margins{% endif %}">
				<div class="row {{ section.settings.slide_height }}">
						{%- capture slider -%}
						<div class="gallery-slider js-slider block s1 {{ imageWidth }}" data-slick="{ 'arrows':{{ showNavArrows }}, 'dots':{{ showNavDots }}, 'autoplay':{{ autoplay }}, 'autoplaySpeed':{{ duration }}, 'speed':{{ speed }}, 'pauseOnHover':{{ hover }}, 'fade':{{ mode }}, 'adaptiveHeight':{{ image_height }} }" data-image-height="{{section.settings.slide_height}}">
							{% for block in section.blocks %}
								{% if block.settings.slide %}
									{%- assign image = block.settings.slide -%}
									{% if image_height %}
										{% assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' %}
										{% include 'theme-rias' %}
										<div class="js-slide slide-image" {{ block.shopify_attributes }} data-block="slide">
											<img 
												 class="lazyload fade-in"
												 data-src="{{ image_url_pattern }}"
												 data-widths= "[{{ image_widths }}]"
												 data-aspectratio="{{image.aspect_ratio }}"
												 data-sizes="auto"
												 alt="{{ image.alt | escape }}">
											 <noscript>
												<img src="{{ image | img_url: '1024x' }}" alt="{{ image.alt | escape }}">
											</noscript>
										</div>
									{% else %}
										<div class="js-slide slide-image" {{ block.shopify_attributes }} data-block="slide">
											<div
											class="slide-image-bg lazyload fade-in"
											data-bgset="{% include 'bgset', image: image %}"
											data-sizes="auto"
											data-parent-fit="cover"
											data-block="slide"
											{{ block.shopify_attributes }}
											>
											</div>
											<noscript>
												<div class="slide-image-bg no-js-slide"
												style="background-image:url('{{ block.settings.slide | img_url: '1024x' }}'); background-size: cover; background-position: center center; background-repeat: no-repeat;"
												></div>
											</noscript>
										</div>
									{% endif %}
								{% else %}
									<div class="js-slide slide-image slide-placeholder" {{ block.shopify_attributes }} data-block="slide">
										{{ 'image' | placeholder_svg_tag }}
									</div>
								{% endif %}
							{% endfor %}
						</div>
						{%- endcapture -%}

						{%- if imagePosition == 'left' -%}
							{{ slider }}
						{%- endif -%}

						{% if customTitle != blank or customSubheading != blank or customContent != blank or customCTA != blank %}
						<div class="gallery-content block s1 {{ contentWidth }}">
							<div class="gallery-content-inner">
								{% if customSubheading != blank %}
										<h4>{{ customSubheading }}</h4>
								{% endif %}

								{% if customTitle != blank %}
										<h1>{{ customTitle }}</h1>
								{% endif %}

								{% if customContent != blank %}
										{{ customContent }}
								{% endif %}

								{% if customCTA != blank %}
										<a {% if customLink != blank %}href="{{ customLink }}"{% endif %} class="button">{{ customCTA }}</a>
								{% endif %}
							</div>
						</div>
						{% endif %}

						{%- if imagePosition == 'right' -%}
							{{ slider }}
						{%- endif -%}
				</div>
		</div>
</section>
<style>
.slick-prev, .slick-next {background: none !important;}
</style>
{% comment %} Schema {% endcomment %}
{% schema %}
{
	"name": "Image with text",
	"max_blocks": 6,
	"class": "header--full",
	"settings": [
		{
			"type": "header",
			"content": "Slideshow"
		},
		{
			"type": "checkbox",
			"id": "showNavDots",
			"label": "Show navigation dots",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "showNavArrows",
			"label": "Show navigation arrows",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "mode",
			"label": "Use fade transition",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "autoplay",
			"label": "Autoplay slideshow",
			"default": false
		},
		{
			"type": "range",
			"id": "duration",
			"min": 2,
			"max": 5,
			"step": 1,
			"unit": "sec",
			"label": "Change slides every",
			"default": 4
		},
		{
			"type": "select",
			"id": "color_style",
			"label": "Arrow and dots color",
			"default": "black",
			"options": [
				{
					"value": "white",
					"label": "Light"
				},
				{
					"value": "black",
					"label": "Dark"
				}
			]
		},
		{
			"type": "checkbox",
			"id": "show_margins",
			"label": "Show padding",
			"default": false
		},
		{
			"type": "select",
			"id": "slide_height",
			"label": "Slide height",
			"default": "five-fifty-height-hero",
			"options": [
				{
					"value": "one-hundred-height-hero",
					"label": "Full screen height"
				},
				{
					"value": "original-height",
					"label": "Image height"
				},
				{
					"value": "seven-fifty-height-hero",
					"label": "750px"
				},
				{
					"value": "sixty-fifty-height-hero",
					"label": "650px"
				},
				{
					"value": "five-fifty-height-hero",
					"label": "550px"
				},
				{
					"value": "four-fifty-height-hero",
					"label": "450px"
				}
			]
		},
		{
			"type": "select",
			"id": "slide_image_position",
			"label": "Image position",
			"options": [
					{
						"value": "left",
						"label": "Left"
					},
					{
						"value": "right",
						"label": "Right"
					}
				],
				"default": "left"
		},
		{
			"type": "select",
			"id": "slide_image_width",
			"label": "Image width",
			"options": [
					{
						"value": "med_s12|med_s12",
						"label": "50%"
					},
					{
						"value": "med_s35|med_s25",
						"label": "60%"
					},
					{
						"value": "med_s34|med_s14",
						"label": "75%"
					}
				],
				"default": "med_s34|med_s14"
		},
		{
			"type": "header",
			"content": "Content"
		},
		{
			"type": "text",
			"id": "subheading",
			"label": "Subheading",
			"default": "Humble Beginnings"
		},
		{
			"type": "textarea",
			"id": "title",
			"label": "Heading",
			"default": "Tell a Story"
		},
		{
			"type": "richtext",
			"id": "content",
			"label": "Text",
			"default": "<p>By showcasing a product, collection, or your brand.</p>"
		},
		{
			"type": "text",
			"id": "cta",
			"label": "Button label"
		},
		{
			"type": "url",
			"id": "link",
			"label": "Button link"
		}
	],
	"blocks": [
		{
			"type": "gallery_image",
			"name": "Image",
			"settings": [
				{
					"type": "image_picker",
					"id": "slide",
					"label": "Image"
				}
			]
		}
	],
	"presets": [
		{
			"category": "Image",
			"name": "Image with text",
			"blocks": [
				{
					"type": "gallery_image"
				},
				{
					"type": "gallery_image"
				},
				{
					"type": "gallery_image"
				}
			]
		}
	]
}
{% endschema %}
