{% comment %} Settings {% endcomment %}

{%- assign mosaic_blocks_layout = section.settings.blocks_layout -%} 
{%- assign mosaic_blocks_arrows_color = section.settings.arrows_color -%} 
{%- assign mosaic_blocks_size = 0 -%} 
{%- assign mosaic_has_text = false -%} 
{%- assign mosaic_hide_image_mobile = section.settings.hide_image_mobile -%} 

{%- unless section.blocks.size == 0 -%}
	{%- capture mosaic_blocks_content -%}
		{%- for block in section.blocks -%}
			{%- case block.type -%}
				{%- when 'image' -%}
					{%- assign mosaic_blocks_size = mosaic_blocks_size | plus: 1 -%} 
					{%- assign image = block.settings.image -%}
					<div class="mosaic__block mosaic__block--image" data-block="mosaic" {{ block.shopify_attributes }}>
						{%- unless image == blank -%}
							<div class="mosaic__block-bg lazyload fade-in"
								data-bgset="{% include 'bgset', image: image %}"
								data-sizes="auto">
							</div>
							<noscript>
								<div class="mosaic__block-bg" style="background-image: url({{ image | img_url: '1024x' }});"></div>
							</noscript>
						{%- else -%}
							<div class="mosaic__block-bg mosaic__block-bg--no-image">
								<div class="svg-placeholder">
									{{ 'image' | placeholder_svg_tag }}
								</div>
							</div>
						{%- endunless -%}
					</div>
				{%- when 'product' -%}
					{%- assign mosaic_blocks_size = mosaic_blocks_size | plus: 1 -%} 
					{%- assign product_handle = block.settings.product -%}
					{%- assign product = all_products[product_handle] -%}
					
					<div class="mosaic__block mosaic__block--product" {{ block.shopify_attributes }}>
						{%- unless product.empty? -%}
							{%- capture product_text -%}
								<div class="mosaic__product-content">
									<h4 class="mosaic__product-title">{{ product.title }}</h4>
									<p class="mosaic__product-price">{{ product.price | money }}</p>
								</div>
							{%- endcapture %}

							{%- assign image = product.featured_image -%}
							{%- unless image == blank -%}
								{%- assign image_widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' -%}
								{% include 'theme-rias' %}
								<a href="{{ product.url }}" title="{{ product.title }}" class="mosaic__block-product">
									<div class="mosaic__block-product-image">
										<div class="mosaic__block-bg lazyload fade-in"
											data-bgset="{% include 'bgset', image: image %}"
											data-sizes="auto">
										</div>
										<noscript>
											<div class="mosaic__block-bg" style="background-image: url({{ image | img_url: '1024x' }});"></div>
										</noscript>
									</div>
									{{ product_text }}
								</a>
							{%- else -%}
								<div class="mosaic__block-product">
									<div class="mosaic__block-product-image mosaic__block-product-image--no-image">
										<div class="svg-placeholder">
											{{ 'product-1' | placeholder_svg_tag }}
										</div>
									</div>
									{{ product_text }}
								</div>
							{%- endunless -%}
						{%- else -%}
							<div class="mosaic__block-product">
								<div class="mosaic__block-product-image mosaic__block-product-image--no-image">
									<div class="svg-placeholder">
										{{ 'product-1' | placeholder_svg_tag }}
									</div>
								</div>

								<div class="mosaic__product-content">
									<h4 class="mosaic__product-title">{{ 'onboarding.product_title' | t }}</h4>
									<p class="mosaic__product-price"><span class="money">{{ '9900' | money }}</span></p>
								</div>
							</div>
						{%- endunless -%}
					</div>
				{%- when 'collection' -%}
					{%- assign mosaic_blocks_size = mosaic_blocks_size | plus: 1 -%} 
					{%- assign collection_handle = block.settings.collection -%}
					{%- assign collection = collections[collection_handle] -%}
					
					<div class="mosaic__block mosaic__block--collection" {{ block.shopify_attributes }}>
						{%- unless collection.empty? -%}
							{%- assign image = collection.image -%}
							{%- if image == blank -%}
								{%- assign image = collection.products.first.featured_image -%}
							{%- endif -%}

							{%- unless image == blank -%}
								<a href="{{ collection.url }}" title="{{ collection.title }}" class="mosaic__block-bg lazyload fade-in"
									data-bgset="{% include 'bgset', image: image %}"
									data-sizes="auto">
									<div class="mosaic__block-text">{{ collection.title }}</div>
								</a>
								<noscript>
									<a href="{{ collection.url }}" title="{{ collection.title }}" class="mosaic__block-bg no-js-image" style="background-image: url({{ image | img_url: '1024x' }});">
										<div class="mosaic__block-text">{{ collection.title }}</div>
									</a>
								</noscript>
							{%- else -%}
								<a href="{{ collection.url }}" title="{{ collection.title }}" class="mosaic__block-bg mosaic__block-bg--no-image">
									<div class="svg-placeholder">
										{{ 'collection-1' | placeholder_svg_tag }}
									</div>
									<div class="mosaic__block-text">{{ collection.title }}</div>
								</a>
							{%- endunless -%}
						{%- else -%}
							<div class="mosaic__block-bg mosaic__block-bg--no-image">
								<div class="svg-placeholder">
									{{ 'collection-1' | placeholder_svg_tag }}
								</div>
							</div>
						{%- endunless -%}
					</div>
			{%- endcase -%}
		{%- endfor -%}
	{%- endcapture -%}
{%- endunless -%}

{%- assign blocksCount = 'no-blocks' -%}
{%- if mosaic_blocks_size == 1 -%}
	{%- assign blocksCount = 'one' -%}
{%- elsif mosaic_blocks_size == 2 -%}
	{%- assign blocksCount = 'two' -%}
{%- elsif mosaic_blocks_size == 3 -%}
	{%- assign blocksCount = 'three' -%}
{%- elsif mosaic_blocks_size == 4 -%}
	{%- assign blocksCount = 'four' -%}
{%- elsif mosaic_blocks_size == 5 -%}
	{%- assign blocksCount = 'five' -%}
{%- endif -%}

{%- capture mosaic_blocks -%}
	{%- unless mosaic_blocks_content == blank -%}
		<div class="mosaic__blocks js-mosaic__blocks mosaic__blocks--{{ blocksCount }} mosaic__blocks--{{ mosaic_blocks_layout }} mosaic__blocks--arrows-{{ mosaic_blocks_arrows_color }}">
			{{ mosaic_blocks_content }}
		</div>
	{%- endunless -%}
{%- endcapture -%}

{%- unless section.blocks.size == 0 -%}
	{%- for block in section.blocks -%}
		{%- case block.type -%}
			{%- when 'text' -%}
				{%- capture mosaic_text -%}
					{%- assign heading = block.settings.title -%}
					{%- assign subheading = block.settings.subheading -%}
					{%- assign text = block.settings.text -%}
					{%- assign button_label = block.settings.button_label -%}

					{%- unless heading == blank and subheading == blank and text == blank and button_label == blank -%}
						{%- assign mosaic_has_text = true -%} 
						<div class="mosaic__content mosaic__content--{{ blocksCount }}" {{ block.shopify_attributes }}>
							<div class="mosaic__content-container">
								{%- unless subheading == blank -%}
									<h4 class="mosaic__subheading">{{ subheading }}</h4>
								{%- endunless -%}
								{%- unless heading == blank -%}
									<h2 class="mosaic__heading">{{ heading }}</h2>
								{%- endunless -%}
								{%- unless text == blank -%}
									<p class="mosaic__text">{{ text| truncate: 120 }}</p>
								{%- endunless -%}
								{%- unless button_label == blank -%}
									{%- if block.settings.button_link != blank -%}
										{% assign button_link = block.settings.button_link %}
									{%- else -%}
										{% assign button_link = '#!' %}
									{%- endif -%}
									<a href="{{ button_link }}" class="button">{{ button_label }}</a>
								{%- endunless -%}
							</div>
						</div>
					{%- endunless -%}
				{%- endcapture -%}

		{%- endcase -%}
	{%- endfor -%}
{%- endunless -%}

{%- capture mosaic_banner -%}
	{%- assign image = section.settings.image -%}
	{%- assign image_text = section.settings.image_text -%}
	{%- assign image_link = section.settings.image_link -%}
	
	<div class="mosaic__image mosaic__image--{{ blocksCount }} {% if mosaic_hide_image_mobile %}med_hide{% endif %}" {{ block.shopify_attributes }}>
		{%- unless image == blank -%}
			<div class="mosaic__image-bg lazyload fade-in"
				data-bgset="{% include 'bgset', image: image %}"
				data-sizes="auto"
				data-parent-fit="cover"
				data-aspect-ratio="{{ image.aspect_ratio }}">
			</div>
			<noscript>
				<div class="mosaic__image-bg no-js-image" style="background-image: url({{ image | img_url: '1024x' }});"></div>
			</noscript>
		{%- else -%}
			<div class="mosaic__image-bg mosaic__image-bg--no-image">
				<div class="svg-placeholder">{{ 'image' | placeholder_svg_tag }}</div>
			</div>
		{%- endunless -%}

		{%- unless image_text == blank -%}
			{%- if image_link == blank -%}
				<div class="mosaic__image-text">
					{%- unless image_text == blank -%}
						{{ image_text }}
					{%- endunless -%}
				</div>
			{%- else -%}
				<a class="mosaic__image-text" href="{{ image_link }}">
					{{ image_text }}
				</a>
			{%- endif -%}
		{%- endunless -%}
	</div>
{%- endcapture -%}

<section class="section-mosaic container-wrap" data-section-type="mosaic" data-section-id="{{ section.id }}">
	<div class="row">
		<div class="block {% if mosaic_has_text == false %}block--no-text{% endif %} block--left s1 lg_s12">
			{{ mosaic_text }}
			{{ mosaic_blocks }}
		</div>
		<div class="block s1 lg_s12">
			{{ mosaic_banner }}
		</div>
	</div>
</section>

{% comment %} Schema {% endcomment %}
{% schema %}
	{
		"name": "Mosaic",
		"max_blocks": 5,
		"settings": [
			{
				"type": "header",
				"content": "Fixed image"
			},
			{
				"type": "image_picker",
				"id": "image",
				"label": "Choose image"
			},
			{
				"type": "text",
				"id": "image_text",
				"label": "Text"
			},
			{
				"type": "url",
				"id": "image_link",
				"label": "Link"
			},
			{
				"type": "checkbox",
				"id": "hide_image_mobile",
				"label": "Hide on mobile",
				"default": false
			},
			{
				"type": "header",
				"content": "Blocks layout"
			},
			{
				"type": "select",
				"id": "blocks_layout",
				"label": "Layout",
				"default": "offset",
				"options": [
					{ "label": "Split", "value": "split" },
					{ "label": "Offset", "value": "offset" }
				]
			},
			{
				"type": "select",
				"id": "arrows_color",
				"label": "Mobile arrows color",
				"default": "white",
				"options": [
					{ "label": "White", "value": "white" },
					{ "label": "Black", "value": "black" }
				]
			}
		],
		"blocks": [
			{
				"type": "text",
				"name": "Text",
				"limit": 1,
				"settings": [
					{
						"type": "text",
						"id": "title",
						"label": "Heading",
						"default": "Modular"
					},
					{
						"type": "text",
						"id": "subheading",
						"label": "Subheading",
						"default": "Best Seller"
					},
					{
						"type": "textarea",
						"id": "text",
						"label": "Text",
						"default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit deleniti ratione deserunt animi odio eligendi."
					},
					{
						"type": "text",
						"id": "button_label",
						"label": "Button label",
						"default": "Shop now"
					},
					{
						"type": "url",
						"id": "button_link",
						"label": "Button link"
					}
				]
			},
			{
				"type": "image",
				"name": "Image",
				"settings": [
					{
						"type": "image_picker",
						"id": "image",
						"label": "Image"
					}
				]
			},
			{
				"type": "product",
				"name": "Product",
				"settings": [
					{
						"type": "product",
						"id": "product",
						"label": "Choose product"
					}
				]
			},
			{
			  "type": "collection",
			  "name": "Collection",
			  "settings": [
					{
						"type": "collection",
						"id": "collection",
						"label": "Choose collection"
					}
				]
			}
		],
	  "presets": [
			{
				"name": "Mosaic",
			  "category": "Image",
			  "blocks": [
					{
						"type": "text"
					},
					{
						"type": "product"
					},
					{
						"type": "product"
					}
				]
			}
		]
	}
{% endschema %}