{% comment %} Settings {% endcomment %}
{% assign show_newsletter = section.settings.show_newsletter %}
{% assign title = section.settings.title %}
{% assign content = section.settings.content %}

{% comment %} Section {% endcomment %}
{% if show_newsletter %}
<style>
    .section-newsletter { background-color: {{ section.settings.background }}; color: {{ section.settings.color }}; }
    .section-newsletter h1 { color: {{ section.settings.color }} !important; }
    .section-newsletter input::-webkit-input-placeholder { color: {{ section.settings.color }}; }
    .section-newsletter input::-moz-placeholder { color: {{ section.settings.color }}; }
    .section-newsletter input:-ms-input-placeholder { color: {{ section.settings.color }}; }
    .section-newsletter input:-moz-placeholder { color: {{ section.settings.color }}; }
    .section-newsletter input,
    .section-newsletter .signUp-mailIcon,
    .section-newsletter button.signUp-submit { color: {{ section.settings.color }} !important; }
    .section-newsletter .signUp-form .inputGroup { border-color: {{ section.settings.color }}; }
</style>
<section class="section-newsletter container-wrap" data-section-type="newsletter">
    <div class="container signUp">
        <div class="row row-md">
          
          <h1 id="tcir"><a href="https://www.instagram.com/tower28beauty/" target="_blank">{{ title }}</a></h1>
          <div class="susvg">
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.31 30.76"><defs><style>.cls-1{fill:#ff4f07;}</style></defs><title>tower_web_V</title><path class="cls-1" d="M317.78,2044H295.11v-7.79h22.67V2044Zm-21.13-1.54h19.59v-4.7H296.65v4.7Z" transform="translate(-294.69 -2025.63)"/><polygon class="cls-1" points="9.53 8.8 5.77 0.66 23.09 2.7 23.08 8.48 21.54 8.47 21.55 4.07 8.32 2.51 10.93 8.15 9.53 8.8"/><path class="cls-1" d="M317.78,2053.75l-11.34-4-11.34,4v-9.54l11.34,4,11.34-4v9.54Zm-9-4.77,7.45,2.6v-5.2Zm-12.14-2.6v5.2l7.45-2.6Z" transform="translate(-294.69 -2025.63)"/><rect class="cls-1" x="1.19" y="13.65" width="21.13" height="1.54"/><rect class="cls-1" x="10.98" y="11.35" width="1.54" height="6.25"/><rect class="cls-1" x="5.61" y="11.35" width="1.54" height="6.25"/><rect class="cls-1" x="16.24" y="11.35" width="1.54" height="6.25"/><rect class="cls-1" x="306.08" y="2015.67" width="1.54" height="24.3" transform="translate(-2037.65 69.18) rotate(-83.27)"/><rect class="cls-1" x="0.42" y="16.98" width="1.54" height="13.78"/></svg>
          </div>
            {% if content != blank %}
                <p class="h4" class="signUp-body">{{ content }}</p>
            {% endif %}
            {% form 'customer' %}
                <div class="js-signUp-form signUp-form">
                    <input type="hidden" id="contact_tags" name="contact[tags]" value="newsletter"/>
                    <div class="inputGroup mc-field-group">
                        <label for="mce-EMAIL" class="accessible-label">{{ 'general.slide_out_navigation.search_label' | t }}</label>
                        <input class="signUp-input required email" type="email" value="" name="contact[email]" id="mce-EMAIL" placeholder="">
                        <input type="hidden" id="newsletter-first-name" name="contact[first_name]" value="Newsletter" />
                        <input type="hidden" id="newsletter-last-name" name="contact[last_name]" value="Subscriber" />
                        <span class="signUp-mailIcon icon-mail"></span>
                        <button type="submit" class="signUp-submit icon-arrow-right" name="subscribe" id="mc-embedded-subscribe"></button>
                    </div>
                </div>
                {% if form.posted_successfully? %}
                    <div class="signUp-confirmation p">{{ 'general.newsletter_signup.success_message' | t }}</div>
                {% elsif form.errors %}
                    {{ form.errors | default_errors }}
                {% endif %}
            {% endform %}
        </div>
    </div>
</section>
{% endif %}

{% comment %} Schema {% endcomment %}
{% schema %}
    {
        "name": "Newsletter",
        "settings": [ 
            {
                "type": "checkbox",
                "id": "show_newsletter",
                "label": "Show Newsletter",
                "default": true
            },
            {
                "type": "header",
                "content": "Colors"
            },
            {
                "type": "color",
                "id": "color",
                "label": "Text",
                "default": "#222"
            },
            {
                "type": "color",
                "id": "background",
                "label": "Background",
                "default": "#fff"
            },
            {
                "type": "header",
                "content": "Content"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "default": "Newsletter"
            },
            {
                "type": "richtext",
                "id": "content",
                "label": "Subheading",
                "default":"<p>Let's keep in touch</p>"
            }
        ]
    }
{% endschema %}