{% layout 'password' %}

<script>window.lazySizesConfig = window.lazySizesConfig || {};</script>
<script src="{{ 'lazysizes.js' | asset_url }}" async=""></script>

<meta property="og:type" content="website">
<meta property="og:title" content="{{ shop.name | escape }}">
<meta property="og:url" content="{{ shop.url }}">
<meta property="og:description" content="{% unless shop.description == blank %}{{ shop.description | escape }}{% else %}{{ shop.name | escape }}{% endunless %}">
<meta name="description" content="{% unless shop.description == blank %}{{ shop.description | escape }}{% else %}{{ shop.name | escape }}{% endunless %}" />
<meta property="og:image" content="{{ section.settings.logo | img_url: '240x'}}">
<meta property="og:image:secure_url" content="{{ section.settings.logo | img_url: '240x'}}">

<div class="container-wrapper" id="SiteContainer">
{%- if section.settings.background != blank -%}
	<div class="page page__bg lazyload fade-in" data-bgset="{% include 'bgset', image: section.settings.background %}" data-sizes="auto" data-parent-fit="cover"></div>
{%- else -%}
	<div class="page page__bg" style='background-image: url("{{'password.jpg' | asset_url}}");'></div>
{%-  endif  -%}
	<div class = "overlay" style = "background-color: #333 !important; opacity:.4;"></div>
	<div class="container">
		<div class="row row-lg centered main-logo--wrapper">
			{% if section.settings.logo != blank %}
			<a href="/" class="nav-item main-logo">
			{%- assign image = section.settings.logo -%}
			{%- assign image_widths = '295,394,590,700,800,1000,1024,1500,1800,2000,2400' -%}
			{% include 'theme-rias' %}
			<img 
				 class="lazyload fade-in"
				 data-src="{{ image_url_pattern }}"
				 data-widths= "[{{ image_widths }}]"
				 data-aspectratio="{{image.aspect_ratio }}"
				 data-sizes="auto">
			<noscript>
				<img src="{{ section.settings.logo | img_url: '2000x' }}" alt="{{ page.title | escape }}">
			</noscript>
			</a>
			{% else %}
			<h1 class="nav-item main-logo main-logo__text" itemscope itemtype="http://schema.org/Organization">
				<a href="/" itemprop="url">{{ shop.name | escape }}</a>
			</h1>
			{% endif %}
		</div>
		<div class="password-wrapper row row-sm centered">

			<header class="password-header bodyWrap-spacer"></header>

			<div class="password-signup s1 med_s23 inline-block">
				<h1>{{ 'password.content.welcome_headline' | t }}</h1>

				{% unless section.settings.text_newsletter == blank %}
					<div class="password__newsletter-text">
						{{ section.settings.text_newsletter }}
					</div>
				{% endunless %}

				<div class="signup-form">

				{% form 'customer' %}

					{% unless shop.password_message == blank %}
						{% unless form.posted_successfully? %}
						<p class="password-message">{{ shop.password_message }}</p>
						{% endunless %}
					{% endunless %}

					{% if form.errors %}
					<div class="feedback error p">
						{{ form.errors | default_errors }}
					</div>
					{% endif %}

					{% if form.posted_successfully? %}
						<p>{{ 'password.forms.success' | t }}</p>
						{% else %}
							<input type="hidden" name="contact[tags]" value="prospect, password page, newsletter subscriber">
							<div class="input-group">
								<p class="form-field form-field--email">
									<input type="email" name="contact[email]" id="email" class="email" placeholder="{{ 'password.forms.email_placeholder' | t }}">
									<input type="hidden" id="newsletter-first-name" name="contact[first_name]" value="Newsletter" />
									<input type="hidden" id="newsletter-last-name" name="contact[last_name]" value="Subscriber" />
								</p>
								<p class="form-field form-field--submit">
									<input type="submit" value="{{ 'password.forms.call_to_action' | t }}" class="button submit">
								</p>
							</div>
					{% endif %}

				{% endform %}
				</div>

			</div>
			
			<div class="password-login s1 med_s23 inline-block">

				<h3>{{ 'password.forms.enter_password_title' | t }}</h3>

				<div class="signup-form">

					{% form 'storefront_password' %}

						{% if form.errors %}
						<div class="feedback error p">
							{{ form.errors | default_errors }}
						</div>
						{% endif %}

						<div class="input-group">
							<p class="form-field form-field--password">
								<input type="password" name="password" class="password inline" placeholder="{{ 'password.forms.enter_password_placeholder' | t }}">
							</p>
							<p class="form-field form-field--submit">
								<input type="submit" value="{{ 'password.forms.call_to_action' | t }}" class="button submit">
							</p>
						</div>
						

					{% endform %}
				</div>
			</div>

			<footer class="password-footer">
				<div class="password-footer-content">
					<p>
					
				</div>
			</footer>

		</div><!-- End password-wrap -->
	</div>
</div>

<script type="text/javascript">

jQuery(function($){
	var $targets = $('.password-signup, .password-login');
	
	$targets.each( function(){
		var $el = $(this);
		if ( $el.find('div.errors').length ) {
			$el.find('div.errors').find('input.password, input.email').focus();
		}
	});
});

</script>


{% schema %}
{
	"name": "Password page",
	"class": "password",
	"settings": [
		{
			"type": "image_picker",
			"id": "background",
			"label": "Background"
		},
		{
			"type": "image_picker",
			"id": "logo",
			"label": "Custom logo"
		},
		{
			"type": "header",
			"content": "Newsletter"
		},
		{
			"type": "richtext",
			"id": "text_newsletter",
			"label": "Text"
		}
	]
}
{% endschema %}
