{% comment %} Settings {% endcomment %}
{%- assign heading = section.settings.title -%}
{%- assign heading_position = section.settings.title_position -%}
{%- assign blocks_text_align = section.settings.blocks_text_align -%}
{%- assign hide_quotes = section.settings.hide_quotes -%}
{%- assign accent_line = section.settings.accent_line -%}
{%- assign accent_line_color = section.settings.accent_line_color -%}

{%- if accent_line_color != blank -%}
<style>
  .testimonial .accent-line--straight { background-color: {{ accent_line_color }}; }
  .testimonial .accent-line--curved svg path { fill: {{ accent_line_color }}; }
</style>
{%- endif -%}

<section style="background:{{section.settings.bg_color}}" class="testimonials-section" data-section-id="{{ section.id }}" data-section-type="testimonials">
  <div class="testimonials">
    {%- if heading -%}
      <div class="page-title page-title--{{ heading_position }}">
        <h1>{{ heading }}</h1>
      </div>
    {%- endif -%}
    
    {%- if section.blocks.size > 0 -%}
      <div class="testimonials__blocks js-testimonials__blocks">
        {%- for block in section.blocks -%}
          {%- assign blockquote = block.settings.blockquote -%}
          {%- assign author = block.settings.author -%}
          {%- if author != blank or blockquote != blank -%}
            <div class="testimonials__block testimonial testimonial--{{ blocks_text_align }}" data-block="testimonial" {{ block.shopify_attributes }}>
              {%- unless blockquote == blank -%}
                
                  {%- unless hide_quotes -%}
                    <span class="testimonial__blockquote-quotes">{% include 'icon-quotes' %}</span>
                  {%- endunless -%}
                  <p class="bubble bubble-alt orange">{{ blockquote }}</p>
               
              {%- endunless -%}
              
              {%- if accent_line == 'curved' or accent_line == 'straight' or author != blank -%}
                <div class="testimonial__bottom">
                  {%- if accent_line == 'curved' or accent_line == 'straight' -%}
                    <span class="accent-line accent-line--{{ accent_line }}">
                      {%- if accent_line == 'curved' -%}
                        {% include 'icon-curved-line' %}
                      {%- endif -%}
                    </span>
                  {%- endif -%}
                  {%- unless author == blank -%}
                    <p class="testimonial__author">{{ author }}</p>
                  {%- endunless -%}
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Testimonials",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Testimonials"
    },
{
      "type": "color",
      "id": "bg_color",
      "label": "background Color",
      "default": "#333333"
    },
    {
      "type": "select",
      "id": "title_position",
      "label": "Heading position",
      "default": "left",
      "options": [
        { "label": "Left", "value": "left" },
        { "label": "Center", "value": "center" }
      ]
    },
    {
      "type": "select",
      "id": "blocks_text_align",
      "label": "Text alignment",
      "default": "justify",
      "options": [
        { "label": "Justify", "value": "justify" },
        { "label": "Center", "value": "center" }
      ]
    },
    {
      "type": "checkbox",
      "id": "hide_quotes",
      "label": "Hide quotes",
      "default": false
    },
    {
      "type": "select",
      "id": "accent_line",
      "label": "Accent line",
      "default": "curved",
      "options": [
        { "label": "Curved", "value": "curved" },
        { "label": "Straight", "value": "straight" },
        { "label": "None", "value": "none" }
      ]
    },
    {
      "type": "color",
      "id": "accent_line_color",
      "label": "Color",
      "default": "#333333"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "textarea",
          "id": "blockquote",
          "label": "Text",
          "default": "Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet."
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "John Doe"
        } 
      ]
    } 
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Testimonials",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        }
      ]
    }
  ]
}
{% endschema %}